@use '@/styles/shared.scss' as *;

.form-container {
    position: fixed;
    inset: 0;
    z-index: 999;
    pointer-events: none;
    opacity: 0;
    overflow: auto;

    &.show {
        pointer-events: all;
        opacity: 1;
    }

    .form-layout {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-block: rem(20);
        min-height: 100%;

        &__background {
            position: absolute;
            inset: 0;
            background-color: rgb(var(--green-rgb), 0.7);
        }

        &__container {
            position: relative;
            padding: rem(24);
            padding-bottom: rem(40);
            background-image: url('/images/paper-texture-white.jpg');
            background-repeat: repeat;
            border-radius: rem(15);
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            gap: rem(22);
            max-width: 100%;

            #form-layout {
                max-width: 100%;
            }

            @include phone {
                padding: rem(20);
                padding-bottom: rem(40);
                max-width: rem(335);
            }
        }

        &__cross-button {
            width: rem(24);
            cursor: pointer;
            transition: transform $default-transition;

            img {
                width: 100%;
            }
        }

        &__text {
            text-align: center;
            margin-bottom: rem(42 - 16);
        }

        &__content {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: rem(16);
            width: rem(453);
            max-width: min(#{rem(453)}, 100%);

            select {
                appearance: none;
                -webkit-appearance: none;
                -moz-appearance: none;
                background-image: url('data:image/svg+xml;utf8,<svg fill="black" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>'); /* Кастомная стрелка */
                background-repeat: no-repeat;
                background-position: right rem(16) center;
                background-size: rem(22);
                padding-right: rem(22);

                @include phone {
                    background-size: rem(30);
                    padding-right: rem(30);
                }
            }

            .input {
                display: block;
                padding: rem(20) rem(30);
                border: 1px solid rgb(var(--dark-rgb), 0.5);
                width: 100%;
                border-radius: rem(100);

                @include phone {
                    padding: rem(14) rem(24);
                }

                &::placeholder {
                    color: currentcolor;
                    opacity: 0.5;
                }
            }

            .checkbox-wrapper {
                max-width: 100%;
                display: flex;
                align-items: center;
                position: relative;
                padding-left: 0;
                cursor: pointer;
                user-select: none;
                gap: rem(12);

                @include phone {
                    align-items: flex-start;
                }

                input {
                    position: absolute;
                    opacity: 0;
                    cursor: pointer;
                    height: 0;
                    width: 0;
                }

                &__checkmark {
                    position: relative;
                    flex-shrink: 0;
                    width: rem(40);
                    height: rem(40);
                    background-color: #fff;
                    border-radius: rem(10);
                    border: 1px solid rgb(var(--dark-rgb), 0.5);

                    @include phone {
                        width: rem(28);
                        height: rem(28);
                        border-radius: rem(7);
                        padding-top: rem(5);
                    }
                }

                input:checked ~ .checkbox-wrapper__checkmark::after {
                    content: '';
                    position: absolute;
                    left: rem(13);
                    top: rem(5);
                    width: rem(13);
                    height: rem(20);
                    border: solid currentcolor;
                    border-width: 0 2px 2px 0;
                    transform: rotate(45deg);

                    @include phone {
                        left: rem(9);
                        top: rem(3);
                        width: rem(10);
                        height: rem(14);
                    }
                }

                input:user-invalid ~ .checkbox-wrapper__checkmark {
                    border-color: red;
                    border-width: 2px;
                }

                &__text {
                    display: inline-block;
                    margin-left: 0;
                    line-height: 1.4;
                    text-align: left;

                    a {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}
