@use '@/styles/shared.scss' as *;

.screen {
    &--game-memory.screen--rules & {
        &__text-wrapper {
            max-width: rem(506);

            @include phone {
                max-width: 100%;
            }
        }
    }

    &--game-memory.screen--title & {
        &__eyebrow {
            font-size: min(rem(65), vw(65));
            transform: translateX(min(rem(230), vw(230)));
            margin-bottom: em(-26 - 78, 65);

            @include portrait-and-phone-lp {
                @include phone-text-accent;

                transform: unset;
                margin-bottom: rem(16);
            }
        }

        &__title {
            font-size: min(rem(230), vw(230));

            @include portrait {
                @include phone-h2-accent;

                line-height: 0.56;
            }
        }
    }

    &--game-memory.screen--game {
        .grid {
            display: flex;
            flex-direction: column;
            gap: rem(12);
            width: 100%;
            align-items: center;

            @include phone {
                gap: rem(6);
            }

            .row {
                width: 100%;
                justify-content: center;
                display: flex;
                gap: rem(12);

                @include phone {
                    gap: rem(6);
                }

                .cell {
                    width: rem(121);
                    height: rem(121);
                    transform-style: preserve-3d;
                    position: relative;
                    transition: transform 0.5s ease-in-out;
                    cursor: pointer;

                    @include phone {
                        width: rem(69);
                        height: rem(69);
                        border-width: 1px;
                    }

                    .cell-side {
                        width: 100%;
                        height: 100%;
                        backface-visibility: hidden;
                        border: 2px solid var(--green-middle);
                        border-radius: rem(5);

                        @include phone {
                            border-radius: rem(3);
                        }

                        &--back {
                            background-color: var(--green-middle);
                        }

                        &--front {
                            background-color: var(--light);
                            position: absolute;
                            top: 0;
                            left: 0;
                            transform: rotateY(180deg);

                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: contain;
                            }
                        }
                    }

                    &.open {
                        transform: rotateY(180deg);
                    }
                }
            }
        }
    }
}
