include ../../components/BurgerContainer/index.pug
include ../../components/Header/index.pug
+BurgerContainer
.results.paper-texture-bg
    +Header('dark')
    include ./Hero/index.pug
    include ./Cards/index.pug
    include ./Collage/index.pug
    include ../../components/Footer/index.pug
