@use '@/styles/shared.scss' as *;

.burger-container {
    position: fixed;
    inset: 0;
    z-index: 999;
    pointer-events: none;
    opacity: 0;
    overflow: hidden;
    display: none;
    transition: opacity $default-transition;
    background-color: rgb(var(--green-rgb), 0.7);

    @include phone {
        display: block;
    }

    &.show {
        pointer-events: all;
        opacity: 1;
    }

    &__content {
        background-color: var(--green);
        color: var(--light);
    }

    &__header {
        height: var(--header-height);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    svg {
        width: 100%;
    }

    &__logo {
        width: rem(73);
    }

    &__cross {
        width: rem(31);
    }

    &__nav {
        padding-top: rem(32);
        padding-bottom: rem(40);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: rem(16);
    }
}
