@forward '@/styles/main';
@forward '@/layouts/game-layout/styles';
@forward '@/components/Header/styles';
@forward '@/components/ui/Button/styles';
@forward '@/components/FormContainer/styles';
@forward '@/components/BurgerContainer/styles';
