@forward '@/pages/main-page/Hero/styles';
@forward '@/pages/main-page/Cards/styles';
@forward '@/pages/main-page/GamesNavigation/styles';
@forward '@/pages/main-page/GamesNavigation/InteractiveIllustration/styles';
