@use './tokens/media' as *;
@use './tokens/typography' as *;

.uppercase {
    text-transform: uppercase;
}

.h1 {
    @include h1;

    @include portrait-and-phone-lp {
        @include phone-h1;
    }
}

.h1-accent {
    @include h1-accent;

    @include portrait-and-phone-lp {
        @include phone-h1-accent;
    }
}

.h2 {
    @include h2;

    @include portrait-and-phone-lp {
        @include phone-h2;
    }
}

.h2-accent {
    @include h2-accent;

    @include portrait-and-phone-lp {
        @include phone-h2-accent;
    }
}

.body-text {
    @include body-text;

    @include portrait-and-phone-lp {
        @include phone-body-text;
    }
}

.text-accent {
    @include text-accent;

    @include portrait-and-phone-lp {
        @include phone-text-accent;
    }
}

.label {
    @include label;

    @include portrait-and-phone-lp {
        @include phone-label;
    }
}

.label-accent {
    @include label-accent;

    @include portrait-and-phone-lp {
        @include phone-label-accent;
    }
}

.label-small {
    @include label-small;
}
