@use '@/styles/shared.scss' as *;

.screen {
    &--game-puzzle.screen--title & {
        &__eyebrow {
            transform: translateX(rem(250));
            margin-bottom: rem(-37 - 78);

            @include portrait-and-phone-lp {
                @include phone-text-accent;

                transform: unset;
                margin-bottom: rem(16);
            }
        }
    }

    &--game-puzzle.screen--rules & {
        &__text-wrapper {
            max-width: rem(558);

            @include phone {
                max-width: 100%;
            }
        }
    }

    &--game-puzzle.screen--game {
        $w: 687;
        $h: 515;

        .puzzle-items {
            width: min(rem($w), vw-vh-contain($w));
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            align-items: end;
            gap: rem(12);
            max-width: 100%;

            @include portrait {
                width: rem($w * 0.6);
            }

            @include phone {
                width: rem(295);
                gap: rem(6);
            }

            button {
                cursor: pointer;
                transition:
                    transform $default-transition,
                    opacity $default-transition;

                @media (hover: hover) {
                    &:hover {
                        transform: scale(1.05);
                    }
                }

                &.hide {
                    opacity: 0;
                }
            }

            img {
                width: 100%;
                border-radius: rem(5);
            }
        }

        .main-image-wrapper {
            width: min(rem($w), vw-vh-contain($w));
            height: min(rem($h), vw-vh-contain($h));

            // border: 1px solid var(--green);

            border-radius: rem(10);
            margin-bottom: rem(30);
            overflow: hidden;
            position: relative;

            @include portrait {
                width: rem(687 * 0.6);
                height: rem(515 * 0.6);
            }

            @include phone {
                width: rem(295);
                height: rem(221);
                border-radius: rem(5);
                margin-bottom: rem(12);
            }

            .main-image {
                width: 100%;
                height: 100%;
                background-size: 100% 100%;
            }

            .puzzle-question-wrapper {
                position: absolute;
                display: flex;
                align-items: center;
                justify-content: center;

                p,
                img {
                    transition:
                        opacity $default-transition,
                        transform $default-transition;
                }

                p {
                    color: var(--red);
                    position: absolute;
                    opacity: 0;
                    transform: scale(0.7);

                    @include portrait-and-phone-lp {
                        font-size: rem(32);
                    }
                }

                img {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    background-size: 100% 100%;
                    opacity: 0;
                }

                &--one {
                    width: percent(136, $w);
                    height: percent(136, $h);
                    bottom: 0;
                    left: 0;

                    p {
                        top: percent(42, 136);
                        left: percent(42, 136);
                    }
                }

                &--two {
                    width: percent(136, $w);
                    height: percent(136, $h);
                    top: percent(67, $h);
                    left: percent(90, $w);

                    p {
                        top: percent(29, 136);
                        left: percent(44, 136);
                    }
                }

                &--three {
                    width: percent(136, $w);
                    height: percent(107, $h);
                    top: percent(203, $h);
                    left: percent(198, $w);

                    p {
                        top: percent(14, 107);
                        left: percent(45, 136);
                    }
                }

                &--four {
                    width: percent(136, $w);
                    height: percent(137, $h);
                    top: percent(50, $h);
                    right: 0;

                    p {
                        top: percent(30, 137);
                        left: percent(68, 136);
                    }
                }

                &.question {
                    p {
                        opacity: 1;
                        transform: scale(1);
                    }
                }

                &.show {
                    p {
                        opacity: 0;
                    }

                    img {
                        opacity: 1;
                    }
                }
            }
        }
    }
}
