@use '@/styles/shared.scss' as *;

.screen {
    &--game-puzzle.screen--title & {
        &__eyebrow {
            transform: translateX(rem(250));
            margin-bottom: rem(-37 - 78);

            @include portrait-and-phone-lp {
                @include phone-text-accent;

                transform: unset;
                margin-bottom: rem(16);
            }
        }
    }

    &--game-puzzle.screen--rules & {
        &__text-wrapper {
            max-width: rem(558);

            @include phone {
                max-width: 100%;
            }
        }
    }

    &--game-puzzle.screen--game {
        $w: 4096;
        $h: 3072;

        .puzzle-items {
            width: min(rem(687), vw-vh-contain(687));
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: rem(12);
            max-width: 100%;

            @include portrait {
                width: rem(687 * 0.6);
            }

            @include phone {
                width: rem(295);
                gap: rem(6);
            }

            button {
                cursor: pointer;
                transition:
                    transform $default-transition,
                    opacity $default-transition;

                @media (hover: hover) {
                    &:hover {
                        transform: scale(1.05);
                    }
                }

                &.hide {
                    opacity: 0;
                }
            }

            img {
                width: 100%;
                border-radius: rem(5);
            }
        }

        .main-image-wrapper {
            width: min(rem(687), vw-vh-contain(687));
            height: min(rem(515), vw-vh-contain(515));
            border: 1px solid var(--green);
            border-radius: rem(10);
            margin-bottom: rem(30);
            overflow: hidden;
            position: relative;

            @include portrait {
                width: rem(687 * 0.6);
                height: rem(515 * 0.6);
            }

            @include phone {
                width: rem(295);
                height: rem(221);
                border-radius: rem(5);
                margin-bottom: rem(12);
            }

            .main-image {
                width: 100%;
                height: 100%;
                background-size: cover;
            }

            .puzzle-question-wrapper {
                position: absolute;
                width: percent(575, $w);
                height: percent(400, $h);
                display: flex;
                align-items: center;
                justify-content: center;

                p,
                img {
                    transition:
                        opacity $default-transition,
                        transform $default-transition;
                }

                p {
                    color: var(--red);
                    position: relative;
                    opacity: 0;
                    transform: scale(0.7);

                    @include portrait-and-phone-lp {
                        font-size: rem(32);
                    }
                }

                img {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    background-size: cover;
                    opacity: 0;
                }

                &--one {
                    bottom: 0;
                    left: 0;
                }

                &--two {
                    top: percent(664, $h);
                    left: percent(1145, $w);
                }

                &--three {
                    top: percent(1304, $h);
                    left: percent(1429, $w);
                }

                &--four {
                    top: percent(453, $h);
                    right: 0;
                }

                &.question {
                    p {
                        opacity: 1;
                        transform: scale(1);
                    }
                }

                &.show {
                    p {
                        opacity: 0;
                    }

                    img {
                        opacity: 1;
                    }
                }
            }
        }
    }
}
