include ../../components/FormContainer/index.pug
include ../../components/BurgerContainer/index.pug
include ../../components/Header/index.pug
+FormContainer
+BurgerContainer
.main-page.paper-texture-bg
    +Header('dark')
    include ./Hero/index.pug
    #results-container
    include ./Cards/index.pug
    include ./GamesNavigation/index.pug
    include ../../components/Footer/index.pug
