@use '@/styles/shared.scss' as *;

.interactive-illustration-wrapper {
    background-color: #2c3125;
    width: 100%;
}

.interactive-illustration {
    $w: 1440;
    $h: 1080;

    &.container-full-size {
        width: em($w, $w);
    }

    font-size: min(vw-vh-contain($w), rem($w));
    width: em($w, $w);
    height: em($h, $w);
    position: relative;
    overflow: hidden;

    &__layout {
        width: 100%;
        height: 100%;
        background-size: cover;
        position: absolute;
        top: 0;
        left: 0;
    }

    &__tree {
        background-image: url('/images/main-page/gameNav/tree.png');
    }

    &__snow {
        background-image: url('/images/main-page/gameNav/snow.png');
    }

    &__shadow {
        position: absolute;
        top: 0;
        width: percent(443, $w);
        height: 100%;
        background: linear-gradient(270deg, rgb(54 59 43 / 0%) 0%, rgb(54 59 43 / 80%) 100%);

        &--left {
            left: -1px;
        }

        &--right {
            right: -1px;
            transform: scaleX(-1);
        }
    }

    .interactive-illustration-game__item-wrapper {
        transition:
            opacity 0.5s ease-out,
            transform 0.5s cubic-bezier(0.32, 0, 0.31, 1);
    }

    .interactive-illustration-game__candle,
    .interactive-illustration-game__dark {
        transition: opacity 0.5s ease-out;
    }

    .interactive-illustration-game__item,
    .interactive-illustration-game__candle {
        opacity: 0;
    }

    .interactive-illustration-game__link {
        position: absolute;
        width: percent(252, $w);
        height: percent(252, $h);
        cursor: pointer;
        z-index: 100;
        pointer-events: all;
        display: none;
    }

    .interactive-illustration-game-1 {
        .interactive-illustration-game__dark {
            background-image: url('/images/main-page/gameNav/boot-dark.png');
        }

        .interactive-illustration-game__item-wrapper {
            --deg: 7deg;

            transform-origin: percent(409, $w) percent(100, $h);
        }

        .interactive-illustration-game__item {
            background-image: url('/images/main-page/gameNav/boot.png');
        }

        .interactive-illustration-game__candle {
            background-image: url('/images/main-page/gameNav/boot-candle.png');
        }

        .interactive-illustration-game__link {
            top: percent(215, $h);
            left: percent(295, $w);
        }
    }

    .interactive-illustration-game-2 {
        .interactive-illustration-game__dark {
            background-image: url('/images/main-page/gameNav/snowflake-dark.png');
        }

        .interactive-illustration-game__item-wrapper {
            --deg: -5deg;

            transform-origin: percent(1071, $w) percent(183, $h);
        }

        .interactive-illustration-game__item {
            background-image: url('/images/main-page/gameNav/snowflake.png');
        }

        .interactive-illustration-game__candle {
            background-image: url('/images/main-page/gameNav/snowflake-candle.png');
        }

        .interactive-illustration-game__link {
            top: percent(352, $h);
            left: percent(948, $w);
        }
    }

    .interactive-illustration-game-3 {
        .interactive-illustration-game__dark {
            background-image: url('/images/main-page/gameNav/house-dark.png');
        }

        .interactive-illustration-game__item-wrapper {
            --deg: -3deg;

            transform-origin: percent(622, $w) percent(448, $h);
        }

        .interactive-illustration-game__item {
            background-image: url('/images/main-page/gameNav/house.png');
        }

        .interactive-illustration-game__candle {
            background-image: url('/images/main-page/gameNav/house-candle.png');
        }

        .interactive-illustration-game__link {
            top: percent(527, $h);
            left: percent(498, $w);
        }
    }

    .interactive-illustration-game-4 {
        .interactive-illustration-game__dark {
            background-image: url('/images/main-page/gameNav/horse-dark.png');
        }

        .interactive-illustration-game__item-wrapper {
            --deg: -7deg;

            transform-origin: percent(1101, $w) percent(673, $h);
        }

        .interactive-illustration-game__item {
            background-image: url('/images/main-page/gameNav/horse.png');
        }

        .interactive-illustration-game__candle {
            background-image: url('/images/main-page/gameNav/horse-candle.png');
        }

        .interactive-illustration-game__link {
            top: percent(804, $h);
            left: percent(948, $w);
        }
    }

    .interactive-illustration-game-5 {
        .interactive-illustration-game__dark {
            background-image: url('/images/main-page/gameNav/candy-dark.png');
        }

        .interactive-illustration-game__item-wrapper {
            --deg: -10deg;
            --translate: -0.5%, 0.5%;

            transform-origin: percent(314, $w) percent(916, $h);
        }

        .interactive-illustration-game__item {
            background-image: url('/images/main-page/gameNav/candy.png');
        }

        .interactive-illustration-game__candle {
            background-image: url('/images/main-page/gameNav/candy-candle.png');
        }

        .interactive-illustration-game__link {
            top: percent(797, $h);
            left: percent(206, $w);
        }
    }

    .interactive-illustration-game {
        --deg: 5deg;
        --translate: 0, 0;
    }

    @for $i from 1 through 5 {
        .interactive-illustration-game-#{$i} {
            .interactive-illustration-game__item,
            .interactive-illustration-game__candle,
            .interactive-illustration-game__dark {
                transition-delay: #{0.3s * ($i - 1)};
                transition-duration: 1s;
            }
        }
    }
}

.interactive-illustration-wrapper.entered {
    .interactive-illustration-game {
        &.open {
            .interactive-illustration-game__item,
            .interactive-illustration-game__candle {
                opacity: 1;
            }

            .interactive-illustration-game__dark {
                opacity: 0;
            }

            .interactive-illustration-game__link {
                display: block;
            }
        }

        &.hover {
            .interactive-illustration-game__item-wrapper {
                transform: rotate(var(--deg)) translate(var(--translate));
            }
        }
    }
}
