footer.footer.container.inview.inview--opacity
    a.footer__logo(href='https://ecco.ru')
        include ../svg/logo
    .footer__text.body-text!= 'Проект &laquo;В&nbsp;ожидании новогоднего чуда&raquo; создан для сотрудников ecco.ru и&nbsp;приурочен к&nbsp;празднованию Нового 2026&nbsp;года.'
