include ../../components/Header/index.pug
include ../../components/FormContainer/index.pug
include ../../components/BurgerContainer/index.pug
mixin gameLayout(helpClass)
    +FormContainer
    +BurgerContainer
    section.game-layout.h-100(class=helpClass)
        +Header('light')
        .game-layout__decor-wrapper
            .game-layout__decor(aria-hidden)
                .game-layout__decor-border.game-layout__decor-border--bottom
                .game-layout__decor-border.game-layout__decor-border--right
                .game-layout__decor-border.game-layout__decor-border--top
                .game-layout__decor-border.game-layout__decor-border--left
                .game-layout__decor-shadow
        .game-layout__content-and-help-wrapper
            .container.game-layout__content-container
                .game-layout__content-wrapper.paper-texture-bg
                    #title-wrapper.game-layout__title-wrapper
                    .game-layout__container-wrapper
                        #screen-container.with-fade.game-layout__screen-container
            #game-help-container.game-layout__help-container
