section.results-hero.container
    h1.results-hero__title.inview.inview--first-load.inview--title
        span.h2-accent.results-hero__title-main.inview-word.inview-word--accent
            each letter in ['К', 'а', 'к', ' ', 'э', 'т', 'о', ' ', 'б', 'ы', 'л', 'о']
                span.inview-letter= letter
    .results-hero__text.body-text.inview.inview--first-load.inview--opacity!= '<p>Пять декабрьский дней, пять волшебных моментов и&nbsp;множество положительных эмоций.</p> <p>Вспоминаем, как вместе создавали настроение и&nbsp;делились теплом.</p>'
