section.results-collage.container
    .results-collage__title-block.inview.inview--opacity
        h2.h2!= 'Новогодний коллаж'
        p.body-text.results-collage__text!= 'Из&nbsp;фотографий, отправленный в&nbsp;рамках активности &laquo;Новогодняя фотография&raquo; мы&nbsp;собрали большой новогодний коллаж'
    img.results-collage__image.inview.inview--opacity(src='', alt='Новогодний коллаж', srcset='')
